name: Lint

on:
  pull_request:

permissions:
  contents: read

env:
  GO_VERSION: "1.25"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Download Dependencies
        run: go mod download
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
